<h2>Confirmação da Reserva</h2>
<h3> sua reserva foi pré-agendada </h3>

<p><strong>Quarto:</strong> <%= @room.name %></p>
<p><strong>Descrição:</strong> <%= @room.description %></p>

<p><strong>Data de Entrada:</strong> <%= @reservation.start_date.strftime('%d/%m/%Y') %> no Horário de Check-in: <%= @inn.check_in_time.strftime('%H:%M') %>h</p>
<p><strong>Data de Saída:</strong> <%= @reservation.end_date.strftime('%d/%m/%Y') %> até o Horário de Check-out: <%= @inn.check_out_time.strftime('%H:%M') %>h</p>
<p><strong>Número de Hóspedes:</strong> <%= @reservation.number_of_guests %></p>

<% total_stay_days = (@reservation.end_date - @reservation.start_date).to_i %>

<p><strong>Total de Estadia:</strong> <%= total_stay_days %> dias para <%= @reservation.number_of_guests %> pessoa(s). </p>

<% total_cost = total_stay_days * @room.daily_rate %>
<p><strong>Custo Total:</strong> <%= number_to_currency(total_cost) %></p>
<p><strong>Métodos de pagamento: </strong><%= @inn.payment_methods %></p>

<p> Para confirmar sua reserva clique abaixo . <br> 
Lembre-se que você tem o prazo máximo de 7 dias antes da data de entrada para confirmar, 
caso não, iremos desconsideram sua reserva .</p>

<%= link_to 'Confirmar Reserva', ready_inn_room_reservation_path(@reservation) %><br><br>
<%= link_to 'Voltar à Página Inicial', root_path %>
