<%= form_with(model: [@room, @price], local: true) do |f| %>
  <%= f.hidden_field :room_id, value: @room.id %>
  <div>
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>  
  </div> <br>
  
  <div>
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>  
  </div>
  <br>

  <div>
    <%= f.label :daily_rate %>
    <%= f.text_field :daily_rate %>    
  </div> 
  
  <%= f.submit 'Salvar' %>
<% end %>
