<!DOCTYPE html>
<html>
  <head>
    <title>ProjetoPousadaOnrails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>

      <div> 
        <% if user_signed_in? %>
          <%= current_user.email %>  <br> 
          <%= button_to 'Sair', destroy_user_session_path, method: :delete %>     
          <% unless current_user.has_inn? %>
            <%= link_to 'Cadastrar Pousada', register_inn_user_path(current_user), method: :get %><br><br><br>
          <% end %>
        <% else %>
          <%= link_to 'Faça o Login User', new_user_session_path %> <br>
          <%= link_to 'Crie uma conta como User', new_user_registration_path %>      
        <% end %> 

        <% if visitor_signed_in? %>
          <%= current_user.email %> <br>     
          <%= button_to 'Sair', destroy_visitor_session_path, method: :delete %> 
        <% else %>
          <%= link_to 'Faça o Login Visitor', new_visitor_session_path %> <br>
          <%= link_to 'Crie uma conta como visitante', new_visitor_registration_path %>      
        <% end %> 
      </div>

      
    </header>
    
   <main>
     <div>
      <%= alert %>
      <%= notice %>
     </div>
     <%= yield %>
    </main>
    <footer>
    <p>qualquer dúvida favor entrar em contato pelo contato: contato_comigomesmo@outlook.com </p>    
    </footer>
  </body>
</html>
